main {
    z-index: 0;
}


#contact_modal {
    display: none;
    position: absolute;
    width: 100%;
    top: 10px;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photograph-header h1 {
    color: #D3573C;
    font-size: 40px;
}

.photograph-header img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 4px 4px 7px 1px #d1d1d1;
}

#photograph-city {
    color: #901C1C;
    font-size: 20px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

form textarea {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px; 
}

.trier {
    display: flex;
    margin: 40px 100px 0 100px;
    font-size: 20px;
    font-weight: bold;
}

.trier select {
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.trier select option {
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.photographer-media {
    display: flex;
    flex-wrap: wrap;
    /* margin: 0 40px 0 100px; */
    margin: 40px 0 40px 40px;
}

.div-media {
    width: 25%;
    margin-left: 5%;

}

.div-media img {
    width: 100%;
    height: 290px;
    object-fit: cover;
}
.div-media video {
    width: 100%;
    height: 290px;
    object-fit: cover;
}

.info-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #901C1C;
    margin-top: -10px;
    margin-bottom: 10px;
}

#card-infos {
    position: fixed;
    display: flex;
    gap: 65px;
    bottom: 0;
    right: 35px;
    background-color: #db8876;
    border-radius: 5px 5px 0 0;
    padding: 0px 30px;
    font-size: 1.5rem;
    font-weight: 500;
}

.likes {
    display: flex;
    align-items: center;
}

#diapo_modal {
    display: none;
    position: fixed;
    top: 20px;
    bottom: 20px;
    left: 30px;
    right: 30px;
    max-height: 100vh;
    background-color: #fff;
    z-index: 50;
    color: #901C1C;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

#diapo_modal img {
    width: 600px;
    height: 600px;
    object-fit: cover;
    margin-top: 20px;
}

#diapo_modal video {
    width: 600px;
    height: 600px;
    object-fit: cover;
    margin-top: 20px;
}

#diapo_modal .fa-solid {
    margin: 30px;
}

#diapo_modal .croix {
    width: 40px;
    height: 40px;
    position: fixed;
    top: 30px;
    right: 120px;
}

#diapo_modal p {
    margin-top: 0;
}